@font-face{
    font-family: 'Arges';
    src: url('/public/fonts/Arges.ttf') format('truetype');
}


@font-face {
  font-family: 'PP Mori';
  src: url('/public/fonts/Mori.ttf') format('truetype');
}



/* @media (min-width: 1281px) {
  
  .container.media-icons{
    position: fixed;
    bottom: 0;
    z-index: 1;
  }

} */


body.no-scroll {
  overflow: hidden;
}
:root {
  --link-size: 74px;
  --trans-property: all 0.3s ease;
}
h1,h2,h3,h4,h5,span,a,li,p{
  font-family: 'Manrope';
}
.container{
  max-width: 100%;
  margin: 0;
 padding: 0;
}

body {
  margin: 0px;
  background-image: url(/public/images/coming-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1C1C1C;

}


section#coming-soon{


  padding: 20px;
}

.main-logo img {
  width: 20%;
}
.main-logo {
  text-align: right;
}
body {
  margin: 0px;

 
}

.main-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.current-time p {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  font-family: 'PP Mori';
}


.maine-section{
  display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
 
}
.logo img {
  width: 161px;
}

.text-section {
  text-align: center;
}

.text-section h2 {
  color: #D8E1F2;
  font-size: 6em;
  margin: 30px 0px;
  font-weight: 600;
}

.coming-text h2 {
  color: #fff;
  font-size: 8.5em;
  margin: 0px;
  font-weight: 900;
  font-family: 'Arges';
  letter-spacing: 1px;
}
.current-time {
  padding-top: 20px;
}
.coming-text h3 {
  font-family: 'Arges';
  color: #fff;
  font-size: 5.5em;
  font-weight: 900;
  letter-spacing: 1px;
}
.container.media-icons .col-lg-6.socials {
  display: flex;
  align-items: end;
  justify-content: start;
}

.text-section h3 {
  color: #D8E1F2;
  font-size: 3.6em;
  margin-top: 0px;
  line-height: 70px;
}

img#moving-image {
  width: 60%;
}


/* SOCIAL MEDIA ICONS */

.social-icons {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 14px;
}

.social-icon {
  display: flex;
  position: relative;
  overflow: hidden;
  width: var(--link-size);
  height: var(--link-size);
  margin: 8px;
  background-color: transparent;
  border: 1px solid #E5E1D8;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  text-decoration: none;
  transition: var(--trans-property);
}
.social-mediaa p {
  color: #E5E1D8;
  text-transform: capitalize;
  font-size: 1.5em;
  font-family: 'PP Mori';
}

.text-section p {
  color: #FF45C2;
  font-size: 1.8em;
}

.social-icon i {
  margin: auto;
  font-size: 18px;
  color: #E5E1D8;

  z-index: 1;
  transition: var(--trans-property);
}

.social-icon:after {
  content: "";
  width: var(--link-size);
  height: var(--link-size);
  position: absolute;
  transform: translate(0, var(--link-size));
  border-radius: 50%;
  transition: var(--trans-property);
}



.social-icon.dribbble:after {
  background-color: #C9FF40;
}


/*** Animations ***/
.social-icon:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
  border: none;
}

.social-icon:hover i {
  color: #1C1C1C;
}

.social-icon:hover:after {
  transform: translate(0) scale(1.2);
}


/* EyeMovement css  */

.eyes {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 20px;
}

.eye {
  width: 250px;
  height: 150px;
  border-radius: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pupil {
  width: 80px;
  height: 80px;
  border-radius: 101px;
  background-color: #cadb2a;
}


/* Contdown Css */

@keyframes flip-top {
  to {
    transform: rotateX(90deg);
  }
}
@keyframes flip-bottom {
  to {
    transform: rotateX(0deg);
  }
}
* {

  box-sizing: border-box;
}



/* MOBILE RESPONSIVENESS */

@media (min-width: 320px) and (max-width: 480px) {
  
  .eye {
    height: 70px;
    width: 120px;
}

.customCursor{
  display: none;
}
#box {

  margin-bottom: 20px;
  width: auto !important;
  height: auto !important;
  background-color: #1C1C1C;
  /* position: absolute; */
  bottom: 0;
  right: 0;
  cursor: pointer;
  transition: width 0.5s, height 0.5s, right 0.5s, bottom 0.5s;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: none;
  position: relative;

}

.current-time p{
  font-size: 1.3em;
}
  .pupil {
    height: 50px;
    width: 50px;
}
  .text-section h2 {
    font-size: 2.8em;
    margin-top: 0px;
}
.logo {
  text-align: center;
}

.text-section{
  text-align: center;
  padding: 0px 10px;

}
.text-section h3 {
  font-size: 1.6em;
  line-height: 34px;
}
.text-section p {
  font-size: 1.3em;
}
.countdown-timer {

  padding-bottom: 10px  !important;
}

  main .cards {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.main-header{
  display: block;
}
.logo img {
  width: 130px;
}

.countdown-timer {
  padding: 40px;
}


main .cards .card .flip-card{
  font-size: 28px;
}
main .cards .card p{
  font-size: 12px;
}

#wrapper {
  width: 94%;
  height: 10px;
  position: absolute;
  left: 14px !important;
  top: 70% !important;
  background: #efefef;
  overflow: hidden;
}

.loading-text {
  position: absolute;
  top: 67% !important;
  font-family: Arges;
  left: 25%  !important;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3em !important;
  font-weight: 900;
}

div#media-hide{
  position: relative !important;
}
.coming-text h2{
  font-size: 3.5em;
}
.coming-text h3{
  font-size: 2.5em;
}

.row.big-name {
  display: flex;
  flex-direction: column-reverse;
}

.main-logo img {
  width: 36%;
}
.main-logo {
  text-align: center;
}

.social-mediaa p{
  font-size: 18px;
  text-align: center;
}

br{
  display: none;
}

.coming-text {
  text-align: center;
  padding: 40px 0px;
}
.social-icons{
  justify-content: center;
}
:root{
  --link-size: 60px;
}


div#box h2{
display: none;
}

div#box img{
  width: 100%;
  display: block !important;
  border-radius: 12px;
}


}



/* FOR IPHONE */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  div#media-hide {
    position: relative !important;
}
  
  
}


/* FOR ANDROID */

@media (min-width: 481px) and (max-width: 767px) {
  
  div#media-hide {
    position: relative !important;
}
  
  
}








div#box img{
 display: none;
}


#wrapper {
  width: 94%;
  height: 10px;
  position: absolute;
  left: 40px;
  top: 90%;
  background: #efefef;
  overflow: hidden;
}

#bar {
  width: 0;
  height: 100%;
  background: #C9FF40;
}

.loading-text {
  position: absolute;
  top: 84%;
  font-family: Arges;
  left: 11%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 5em;
  font-weight: 900;
}

div#sbn-banner{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1E1E1E;
  width: 100%;
  z-index: 9;

}
div#sbn-banner img {
  width: 90%;
}

::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #C9FF40; /* Color of the scrollbar handle */
}


/* 
.no-scroll {
  overflow: hidden;
} */



/* HAMBURGER CSS */

.hamburger-menu {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.hamburger .line_1, .line_2, .line_3 {
  width: 40px;
  height: 4px;
  background-color: black;
  margin: 8px 0;
  cursor: pointer;
}

.hamburger:hover{
  cursor: pointer;;
}

.hamburger{
  background-image: url(/public/images/Menu-Center.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 435px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.menu {
  position: fixed;
  bottom: -400px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px; 
  /* background-color: #f1f1f1; */
  background-image: url(/public/images/menu-bg.png);
  padding: 20px;
  border-radius: 8px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
  transition: bottom 0.7s ease-in-out;
  text-align: center;
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
}



.menu.show {
  bottom: 0;
}



.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding: 30px 0px;
}

.menu ul li {
  margin-bottom: 10px;
  padding: 10px 0px;
}

.menu ul li a {
  text-decoration: none;
  color: #1c1c1cb8;
  font-size: 18px;
    font-family: 'Bodoni';
    font-weight: 100;
    text-transform: uppercase;
}

a.connects {
  font-family: 'Arges';
  background: #000;
  color: #fff;
  text-decoration: none;
  font-size: 34px;
  padding: 14px 100px;
  border-radius: 10px;
  text-transform: uppercase;
}

.close-btn {
  position: absolute;
  top: 6px;
  right: 180px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.show {
  display: block;
  transform: translate(-50%, -70%);
}



/* MAIN PAGE CSS */

/* =====Header css===== */
.header-logo img {
  width: 160px;
}
.start-head h2 {
  color: #fff;
  font-family: 'Arges';
  font-size: 5em;
  text-transform: uppercase;
  font-weight: 900;
}



.start-head.touch{
  text-align: right;
}

.start-head.touch H3 {
  font-family: 'PP Mori';
  color: #E5E1D8;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 20px;
}

.header-logo {
  text-align: center;
}





/* GAMEBOX CSS */
#box {

  margin-bottom: 20px;
  width: 700px;
  height: 400px;
  background-color: #1C1C1C;
  /* position: absolute; */
  bottom: 0;
  right: 0;
  cursor: pointer;
  transition: width 0.5s, height 0.5s, right 0.5s, bottom 0.5s;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: none;
  position: relative;

}
div#box h2 {
  color: #fff;
  position: absolute;
  left: 30%;
  top: 44%;
  font-family: 'Arges';
  font-size: 4.5em;
  font-weight: 800;
  letter-spacing: 4px;
}



.initial-state {
  width: 400px;
  height: 400px;
}

.expanded-state {
  width: 800px;
  height: 800px;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
}

.col-lg-6.box-game{
  display: flex;
  justify-content: center;
}




.customCursor {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  width: 15%;
}

